@use "../../styles/partials/text-styles" as *;
@use "../../styles/partials/colors";
@use "../../styles/partials/padding";
@use "../../styles/partials/mixins";

.video-card {
	@include padding.component-padding--bottom;
	width: 100%;
	display: flex;

	&__image {
		width: 100%;

		&-container {
			background-color: colors.$mercury;
			border-radius: 4px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-basis: 33%;
			flex-shrink: 0;
		}
	}

	&__text-container {
		@include padding.component-padding--left;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include mixins.tablet {
			flex-basis: 50%;
			flex-shrink: 1;
		}

		@include mixins.desktop {
			flex-basis: 60%;
			flex-shrink: 0;
		}
	}

	&__title {
		@extend .subheader;
		font-weight: 600;
	}

	&__channel {
		@extend .body-copy;
	}
}
