@use "../../styles/partials/colors";
@use "../../styles/partials/text-styles";
@use "../../styles/partials/mixins";
@use "../../styles/partials/padding";

.button {
	@extend .labels-and-buttons;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: colors.$bf-blue;
	color: colors.$white;
	border: none;
	border-radius: 4px;
	padding: 16px;
	cursor: pointer;

	@include mixins.tablet {
		width: 150px;
	}

	&--secondary {
		background-color: colors.$white;
		color: colors.$bf-blue;
	}

	&--mobile {
		@include mixins.tablet {
			display: none;
		}
	}

	&--tablet {
		display: none;

		@include mixins.tablet {
			display: flex;
		}
	}

	&__icon {
		position: absolute;
		left: 5%;
		height: 1.2rem;
	}
}
