@use "../../styles/partials/padding";
@use "../../styles/partials/text-styles";
@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.name-and-date {
	@extend .body-copy;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.75rem;

	&--video {
		padding: 0;
		flex-direction: column;

		@include mixins.tablet {
			flex-direction: row;
		}
	}

	&__name {
		font-weight: 600;

		&--video {
			@include padding.component-padding--bottom;

			@include mixins.tablet {
				padding-bottom: 0;
				@include padding.component-padding--right;
			}
		}
	}

	&__date {
		color: colors.$silver;
	}
}
