@use "./mixins";

$mobile-padding: 16px;
$tablet-padding: 24px;
$desktop-padding: 24px;

@mixin section-padding {
	padding: 0 $mobile-padding;

	@include mixins.tablet {
		padding: 0 48px;
	}

	@include mixins.desktop {
		padding: 0 116px;
	}
}

@mixin component-padding {
	padding: $mobile-padding;

	@include mixins.tablet {
		padding: $tablet-padding;
	}

	@include mixins.desktop {
		padding: $desktop-padding;
	}
}

@mixin component-padding--horizontal {
	padding: 0 $mobile-padding;

	@include mixins.tablet {
		padding: 0 $tablet-padding;
	}

	@include mixins.desktop {
		padding: 0 $desktop-padding;
	}
}

@mixin component-padding--vertical {
	padding: $mobile-padding 0;

	@include mixins.tablet {
		padding: $tablet-padding 0;
	}

	@include mixins.desktop {
		padding: $desktop-padding 0;
	}
}

@mixin component-padding--right {
	padding-right: $mobile-padding;

	@include mixins.tablet {
		padding-right: $tablet-padding;
	}

	@include mixins.desktop {
		padding-right: $desktop-padding;
	}
}

@mixin component-padding--left {
	padding-left: $mobile-padding;

	@include mixins.tablet {
		padding-left: $tablet-padding;
	}

	@include mixins.desktop {
		padding-left: $desktop-padding;
	}
}

@mixin component-padding--top {
	padding-top: $mobile-padding;

	@include mixins.tablet {
		padding-top: $tablet-padding;
	}

	@include mixins.desktop {
		padding-top: $desktop-padding;
	}
}

@mixin component-padding--bottom {
	padding-bottom: $mobile-padding;

	@include mixins.tablet {
		padding-bottom: $tablet-padding;
	}

	@include mixins.desktop {
		padding-bottom: $desktop-padding;
	}
}

@mixin headline-padding {
	padding: 1rem 0 1.5rem 0;

	@include mixins.tablet {
		padding: 2.25rem 0 1.5rem 0;
	}
}
