@use "../../styles/partials/padding";
@use "../../styles/partials/text-styles" as *;
@use "../../styles/partials/mixins";
@use "../../styles/partials/colors";

.comment {
	@include padding.component-padding--vertical;
	display: flex;

	@include mixins.desktop {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	&__text-container {
		@include padding.component-padding--left;
		width: 100%;
		position: relative;
	}

	&__content {
		@extend .body-copy;
	}

	&__button {
		&--delete {
			position: absolute;
			bottom: 0;
			right: 0;
			color: colors.$mercury;
		}
	}
}
