@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.divider {
	width: 100%;
	height: 1px;
	background-color: colors.$mercury;

	&--mobile {
		@include mixins.tablet {
			display: none;
		}
	}

	&--tablet {
		display: none;

		@include mixins.tablet {
			display: block;
			margin-bottom: 24px;
		}
	}

	&--vertical {
		width: 1px;
		height: 100%;
	}
}
