@use "../../styles/partials/padding";
@use "../../styles/partials/text-styles" as *;

@keyframes flash {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 10%;
	}
	100% {
		opacity: 100%;
	}
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	@include padding.section-padding;

	&__text {
		@extend .page-header;
		@include padding.component-padding--bottom;
	}

	&__logo {
		width: 80%;
		animation: flash 2s ease-in-out 0s infinite;
	}
}
