@use "../../styles/partials/padding";
@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/text-styles" as *;

.video-details {
	@include padding.section-padding;
	flex-shrink: 0;

	@include mixins.desktop {
		padding-right: 0;
		flex-basis: 62%;
	}

	&__title {
		@extend .page-header;
		@include padding.headline-padding;

		@include mixins.tablet {
			padding-bottom: 1rem;
		}
	}

	&__metadata-container,
	&__stats-container,
	&__views,
	&__likes {
		display: flex;
	}

	&__metadata-container {
		@include padding.section-padding;
		@include padding.component-padding--vertical;

		@include mixins.tablet {
			justify-content: space-between;
			padding: 0 0 0.5rem 0;
		}
	}

	&__stats-container {
		flex-direction: column;
		justify-content: space-between;

		@include mixins.tablet {
			flex-direction: row;
		}

		@include mixins.desktop {
			margin-right: 1.5rem;
		}
	}

	&__views,
	&__likes {
		padding-left: 1.5rem;

		@include mixins.tablet {
			align-items: center;
		}
	}

	&__views-icon,
	&__likes-icon {
		padding-right: 0.5rem;
	}

	&__views-count,
	&__likes-count {
		@extend .body-copy;
		color: colors.$silver;
	}

	&__description {
		@include padding.component-padding--vertical;
		@extend .body-copy;

		@include mixins.desktop {
			margin-right: 1.5rem;
		}
	}
}
